<!doctype html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

        <!-- Section Favicon -->
        <link rel="icon" href="{% static 'img/favicon.jpg'%}">

        <!-- Section Title -->
        <title>{% block title %}{% endblock %} Blog </title>
    </head>

    <body>
        <nav class="py-6 flex justify-between items-center border-b border-gray-200 fixed top-0 w-full bg-white z-10">
        <a href="{% url 'menu' %}" class="ml-8">
            <img src="{% static 'img/favicon.jpg' %}" alt="Blog Logo" class="h-12 rounded-xl">
        </a>

    <div class="flex items-center space-x-6 mr-6">

        <!-- <a href="#" class="px-6 py-3 text-lg font-semibold bg-pink-500 text-white rounded-xl hover:bg-gray-700">Browse</a> -->

        {% if request.user.is_authenticated %}
            <a href="{% url 'menu' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Menu</a>
        {% endif %}

        {% if request.user.is_authenticated %}
            <a href="{% url 'post' %}" class="px-6 py-3 text-lg font-semibold bg-yellow-500 text-white rounded-xl hover:bg-gray-700">Create Post</a>
            <a href="{% url 'profile' %}" class="px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-gray-700">Profile</a>
            <a href="{% url 'logout' %}" class="px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-gray-700">Log Out</a>
        {% else %}
            <a href="{% url 'signup' %}" class="px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-xl hover:bg-teal-700">Sign Up</a>
            <a href="{% url 'login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log In</a>
        {% endif %}
    </div>
</nav>

        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="py-2 px-2 bg-gray-300 fixed bottom-0 left-0 w-full flex justify-center items-center">
            <h3 class="text-black">Copyright by Vitor Spricigo Angheben</h3>
        </footer>
    </body>
</html>
