{% extends 'base.html' %}

<!-- Menu Section -->

{% block title %} Menu {% endblock %}

{% block content %}
<!-- Container for displaying user posts -->
<div id="menu-container" class="max-w-screen-lg mx-auto mt-20 bg-gray-500 rounded-xl">

    <!-- Loop through posts -->
    {% for post in posts %}
        <!-- Individual post card -->
        <div class="rounded-md bg-white shadow-md overflow-hidden mb-4">
            <!-- User information -->
            <div class="flex items-center p-4 border-b border-gray-200">
                <img class="w-10 h-10 rounded-full mr-4" src="{{ post.user.userprofile.profile.url }}" alt="{{ post.user.username }}">
                <div>
                    <h3 class="text-lg font-semibold">{{ post.user.username }}</h3>
                </div>
            </div>
            <!-- Post image -->
            <img style="width: 100%; height: auto;" src="{{ post.image.url }}" alt="{{ post.title }}">
            <!-- Post title -->
            <div class="p-4">
                <h3 class="text-lg font-semibold">{{ post.title }}</h3>
                <!-- Post content -->
                <p>{{ post.content }}</p>
                <!-- Post comments -->
                <h4 class="font-semibold mt-4">Comments:</h4>
                {% for comment in post.comments.all %}
                    <div class="flex items-center mt-2">
                        <img class="w-8 h-8 rounded-full mr-2" src="{{ comment.user.userprofile.profile.url }}" alt="{{ comment.user.username }}">
                        <p>{{ comment.body }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
